body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(240, 240, 240);
    text-align: center;
    padding-top: 80px;
    padding: auto;
    margin: 0px;
}

.cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background: #2148b5;
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.466);
}

.logo {
    height: 40px;
    padding: 7px;
    filter: brightness(0) invert(1);
    padding: 20px;
}

.menu {
    display: flex;
    background-color: #2148B5;
    border-radius: 90px;
    padding: 5px;
}

.menu > input {
    background-color: white;
    margin: 1px;
    padding: 13px 30px 13px 30px;
    font-size: 12pt;
    border: none;
    color: #2148b5;
    border-radius: 30px;
    transform: translateX(-20px);
}

.menu > input:hover {
    background-color: rgb(192, 192, 192);
    margin: 1px;
    padding: 13px 30px 13px 30px;
    font-size: 12pt;
    border: none;
    color: #0c2466;
    border-radius: 30px;
    transform: translateX(-20px);
}

.capa {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-top: -30px;
}

.capatxt {
    color: white;
    text-align: left;
    padding: 50px;
    position: absolute;
    top: 80px;
    width: auto;
    height: 470px;
    left: 0;
}

.capatxt > h1 {
    font-weight: bolder;
    font-size: 30pt;
    margin-bottom: 0;
    width: 670px;
}

.capatxt > p {
    font-size: 13pt;
    width: 500px;
}

.dataturma {
    padding: 5px 15px 5px 15px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    width: 240px;
    margin-bottom: 20px;
}

.button1 {
    background-color: #78B521;
    color: white;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 12pt;
    box-shadow: 3px 3px 10px black;
}

.button1:hover {
    background-color: #609417;
    color: rgb(209, 207, 207);
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 12pt;
    box-shadow: 3px 3px 10px black;
}

.button2 {
    background-color: #2148B5;
    color: white;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 12pt;
    box-shadow: 3px 3px 10px black;
    margin-left: 20px;
}

.button2:hover {
    background-color: #153792;
    color: rgb(218, 218, 218);
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 12pt;
    box-shadow: 3px 3px 10px black;
    margin-left: 20px;
}

.buldingIcon {
    position: relative;
    filter: opacity(5%);
    margin-top: -190px;
    object-fit: fill;
    height: 260px;
    transform: translateX(180px);
}

.nossoObjetivo > h1 {
    color: #2148B5;
    font-weight: bolder;
    margin-top: 30px;
}

.nossoObjetivo > p {
    font-weight: bold;
    margin-left: 30%;
    margin-right: 30%;
}

.SalaDeAula {
    width: 370px;
    height: 580px;
    object-fit: cover;
}

.TreinamentoPorteiros {
    background-color: rgb(230, 230, 230);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center ;
    margin-top: -30px;
    position: relative;
}

.TreinamentoPorteirosTXT {
    padding-left: 30px;
    margin-top: -40px;
    text-align: left;
    width: 400px;
}

.TreinamentoPorteirosTXT > ul {
    transform: translateX(-13px);
    width: 366px;
}

.txtimportante {
    color: red;
    font-weight: bolder;
    text-align: center;
    font-size: 30pt;
    margin: 0;
}

.valorTreinamento {
    background-color: #78B521;
    color: white;
    border: none;
    border-radius: 20px;
    width: 260px;
    height: 80px;
    font-size: 21pt;
    padding: 10px;
    margin-left: 60px;
    margin-top: 20px;
}

.valorTreinamento > p {
    font-size: 12pt;
    margin: 0;
}

.canalYoutube > h1{
    font-size: 25pt;
    color: #2148B5;
    font-weight: bolder;
}

.videosYoutube {
    
    margin-bottom: 70px;
}

iframe {
    padding: 10px;
}

footer {
    background-color: #2148B5;
    color: white;
    padding: 20px;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contato {
    text-align: left;
}

.logo > img {
    height: 50px;
    padding-right: 40px;
    padding-left: 20px;
}

.redesSociais > img {
    height: 40px;
    padding: 10px;
    padding-top: 0;
}

.footer2 {
    background-color: #0f2b79;
}

/* Adicionando media query para telas menores */
@media screen and (max-width: 768px) {
    .capa {
      height: 390px;
      margin-top: 10px;
    }
  
    .capatxt {
      padding: 20px;
      top: 50px;
      height: auto;
      margin-top: 60px;
    }
  
    .menu {
      margin-right: 10px;
    }
  
    .cabeçalho {
      padding: 10px;
    }
  
    .logo {
      height: 30px;
    }
  
    .capatxt > h1 {
      font-size: 24pt;
      width: 100%;
    }
  
    .capatxt > p {
      font-size: 11pt;
      width: 100%;
    }
  
    .nossoObjetivo > p {
        margin-left: 10%;
        margin-right: 10%;
    }

    .buldingIcon {
        transform: translateX(0);
    }

    .SalaDeAula {
        display: none;
    }

    .TreinamentoPorteirosTXT {
        font-size: 12pt;
        width: 280px;
        padding: 0;
    }

    .TreinamentoPorteirosTXT > ul {
        width: 200px;
    }

    .canalYoutube > h1 {
      font-size: 20pt;
    }
  
    .valorTreinamento {
      width: 200px;
      height: 60px;
      font-size: 16pt;
      padding: 5px;
      margin-left: 30px;
    }

    .videosYoutube iframe {
        width: 100%;
        height: auto;
    }

    body {
        overflow-x: hidden;
    }

    .footer {
        flex-direction: column;
    }

    .footer > div {
        width: 100%;
        margin-bottom: 20px;
    }

  }
  
  /* Adicionando media query para telas ainda menores */
  @media screen and (max-width: 480px) {
    .capatxt {
      padding: 10px;
      top: 30px;
    }
  
    .capatxt > h1 {
      font-size: 20pt;
    }
  
    .capatxt > p {
      font-size: 10pt;
    }
  
    .canalYoutube > h1 {
      font-size: 18pt;
    }
  
    .valorTreinamento {
      width: 200px;
      height: 60px;
      font-size: 16pt;
      padding: 5px;
      margin-left: 30px;
    }
    
    .videosYoutube iframe {
        width: 90%;
    }

    .footer {
        padding: 20px 0;
    }

    .footer2 {
      font-size: 10pt;
    }
  }
  
